/*
.codeEditorMonaco .monaco-editor-background {
    background-color: #131313 !important;
}

.codeEditorMonaco .monaco-editor .margin {
    background-color: #131313 !important;
    box-shadow: 0px 0px 8px inset rgba(10, 10, 10, 0.8)
}
*/
